*, *:after, *:before {
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  -webkit-user-select: none;
  cursor: default;
}

body {
  padding: 10px 20px 20px 20px;
}

#react-root {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0px 1px 23px rgba(0,0,0,.2), 0 0 0px 1px rgba(0,0,0,.1);
  background-color: rgba(250, 250, 250, .98);
  font-size: 13px;
  font-family: ".SFNSDisplay-Regular", "Helvetica Neue";
  color: #444;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

#react-root:before {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -8px;
  margin-top: -8px;
  display: block;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #1E88E5;
}

#react-root > .flex-column {
  height: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0 0 8px 0;
  line-height: 1.4;
}

p:last-child {
  margin-bottom: 0;
}

button, .button {
  display: inline-block;
  background: #5CC090;
  color: #fff;
  border-radius: 3px;
  border: 2px solid #5CC090;
  font-weight: 500;
  font-family: ".SFNSDisplay-Semibold", "Helvetica Neue";
  font-size: 13px;
  line-height: 1.4;
  padding: 6px 12px;
  transition: all 200ms;
}

button:hover, .button:hover {
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}

button:disabled, .button:disabled {
  opacity: .5;
  pointer-events: none;
}

.toolbar {
  border-radius: 3px 3px 0 0;
  padding: 8px 16px;
  background: #1E88E5;
  color: #FFF;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
}

.content {
  padding: 16px;
}

button, .button {
  outline: none;
}

.label {
  float: left;
  display: inline-block;
  color: #aaa;
  line-height: 40px;
  padding-left: 14px;
}

.margin-0 {
  margin: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-1 {
  flex: 1;
  position: relative;
}

.calendar .week {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}

.calendar .week.highlighted .day:after{
  background-color: rgba(0,0,0,.04);
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  top: 50%;
  right: 0;
  bottom: 0;
  left: 50%;
}

.calendar .week.highlighted .day:first-child:after {
  border-radius: 50% 0 0 50%;
}

.calendar .week.highlighted .day:last-child:after {
  border-radius: 0 50% 50% 0;
}

.calendar .week.names {
  color: #bbb;
}

.calendar .day {
  flex: 1;
  width: 14.28571429%;
  text-align: center;
  padding: 12px 0;
  border-radius: 2px;
  position: relative;
}

.calendar .day .number {
  position: relative;
}

.calendar .day:before {
  display: block;
  content: "";
  background-color: transparent;
  position: absolute;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  top: 50%;
  right: 0;
  bottom: 0;
  left: 50%;
  border-radius: 50%;
}

.calendar .day.selected:before {
  background-color: #FF9800;
}

.calendar .day.selected {
  color: #fff;
  font-family: ".SFNSDisplay-Semibold", "Helvetica Neue";
}

.calendar .week:not(.names) .day:not(.today):not(.selected):hover:before {
  background-color: rgba(0,0,0,.04);
}

.calendar .day.different-month {
  color: #bbb;
}

.calendar .day.today {
  font-family: ".SFNSDisplay-Semibold", "Helvetica Neue";
}

.calendar .header {
  background: #1E88E5;
  color: #fff;
  padding: 10px 10px 10px 15px;
  display: flex;
}

.calendar .header .date {
  flex: 1;
}

.calendar .header .month {
  font-size: 18px;
  font-weight: 400;
  font-family: ".SFNSDisplay-Semibold", "Helvetica Neue";
  line-height: 40px;
}

.calendar .header .year {
  font-size: 18px;
  font-family: ".SFNSDisplay-Light", "Helvetica Neue";
  font-weight: 100;
  color: rgba(255,255,255,.5);
  padding-left: 4px;
}

.calendar .header .next {
  padding: 8px;
}

.calendar .header .previous {
  padding: 8px;
}

.calendar .header .previous:hover,
.calendar .header .next:hover {
  border-radius: 2px;
  background-color: rgba(0,0,0,.04);
}

.calendar .dots {
  text-align: center;
  height: 4px;
  margin-bottom: -6px;
  margin-top: 2px;
}

.calendar .dots .dot {
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background: rgba(0,0,0,.15);
  display: inline-block;
  margin-right: 2px;
  position: relative;
}

.calendar .dots .dot:last-child {
  margin-right: 0;
}

.event-list {
  margin-top: 12px;
  padding-top: 4px;
  padding-bottom: 10px;
  background-color: #263238;
  color: #fff;
  flex: 1;
  overflow-y: overlay;
  -webkit-font-smoothing: initial;
}

.event-list::-webkit-scrollbar {
  width:15px;
  background: transparent;
}

.event-list::-webkit-scrollbar * {
  background: transparent;
}

.event-list::-webkit-scrollbar-track {
  border-radius:5px;
  background: transparent;
}

.event-list::-webkit-scrollbar-thumb {
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 5px;
  background-color: rgba(255,255,255,0);
  min-height: 30px;
}

.event-list:hover::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,0.3);
}

.event-list::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255,255,255,0.4);
}

.event-list-header {
  margin-top: 12px;
  padding: 4px 17px;
  color: rgba(255,255,255,.5);
  font-family: ".SFNSDisplay-Regular", "Helvetica Neue";
  font-size: 12px;
}

.event {
  display: flex;
}

.event:hover {
  background-color: rgba(255,255,255,.05);
}

.event .name, .event .time {
  flex: 1;
  padding: 6px 17px;
}

.event .time {
  font-size: 12px;
  text-align: right;
  color: rgba(255,255,255,.5);
}
