*, *:after, *:before {
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  -webkit-user-select: none;
  cursor: default;
}

body {
  padding-top: 10px;
}

#react-root {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: rgba(250, 250, 250, .98);
  font-size: 13px;
  font-family: ".SFNSDisplay-Regular", "Helvetica Neue";
  color: #444;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

#react-root:before {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -8px;
  margin-top: -8px;
  display: block;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #1E88E5;
}

#react-root > .flex-column {
  height: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0 0 8px 0;
  line-height: 1.4;
}

p:last-child {
  margin-bottom: 0;
}

button, .button {
  display: inline-block;
  background: #5CC090;
  color: #fff;
  border-radius: 3px;
  border: 2px solid #5CC090;
  font-weight: 500;
  font-family: ".SFNSDisplay-Semibold", "Helvetica Neue";
  font-size: 13px;
  line-height: 1.4;
  padding: 6px 12px;
  transition: all 200ms;
}

button:hover, .button:hover {
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}

button:disabled, .button:disabled {
  opacity: .5;
  pointer-events: none;
}

.toolbar {
  border-radius: 3px 3px 0 0;
  padding: 8px 16px;
  background: #1E88E5;
  color: #FFF;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
}

.content {
  padding: 16px;
}

button, .button {
  outline: none;
}

.label {
  float: left;
  display: inline-block;
  color: #aaa;
  line-height: 40px;
  padding-left: 14px;
}

.margin-0 {
  margin: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-1 {
  flex: 1;
  position: relative;
}

.calendar {
  position: relative;
  overflow: hidden;
}

.calendar--month {
  height: 330px;
}

.calendar--week {
  height: 130px;
}

.calendar .calendar-slider {
  width: 100%;
}

.calendar .days-of-week {
  display: flex;
}
.calendar .days-of-week > span {
  flex: 0 0 calc(100% / 7);
  text-align: center;
  color: #bbb;
  line-height: 30px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  font-family: ".SFNSDisplay-Bold", "Helvetica Neue";
}

.calendar .week {
  display: flex;
  flex-direction: row;
}

.calendar .day {
  text-align: center;
  width: calc(100% / 7);
  border-radius: 2px;
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 125ms ease-in-out;
  flex-direction: column;
}

.calendar .day > span {
  position: relative;
}

.calendar .day:before {
  display: block;
  content: "";
  background-color: transparent;
  position: absolute;
  position: absolute;
  width: 35px;
  height: 35px;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 50%;
  border-radius: 50%;
  background-color: #FF8A65;
  opacity: 0;
  transform: translate(-50%, -50%) scale(.75);
  transition: opacity 125ms ease-in-out, transform 125ms ease-in-out;;
}

@-webkit-keyframes bounceIn {
    0%,100%,20%,40%,50%,70% {
        animation-timing-function: ease-in-out;
    }

    0% {
        transform: translate(-50%, -50%) scale3d(.75,.75,.75)
    }

    50% {
        transform: translate(-50%, -50%) scale3d(1.05,1.05,1.05)
    }

    70% {
        transform: translate(-50%, -50%) scale3d(.98,.98,.98)
    }

    100% {
        transform: translate(-50%, -50%) scale3d(1,1,1)
    }
}

.calendar .day:hover {
}

.calendar .day.selected:before {
  opacity: 1;
  border-radius: 50%;
  background-color: #FF8A65;
  transform: translate(-50%, -50%) scale(1);
  animation: bounceIn 250ms ease-in-out;
}

.calendar .day.selected {
  color: #fff;
  /*font-family: ".SFNSDisplay-Semibold", "Helvetica Neue";*/
}

.calendar .week:not(.names) .day:not(.today):not(.selected):hover:before {
  background-color: rgba(0,0,0,.04);
}

.calendar .day.different-month {
  color: #bbb;
}

.calendar .day.today {
  font-family: ".SFNSDisplay-Semibold", "Helvetica Neue";
}

.calendar .header {
  background: #1E88E5;
  color: #fff;
  padding: 10px 10px 10px 15px;
  display: flex;
  border-radius: 3px 3px 0 0;
}

.calendar .header .date {
  flex: 1;
}

.calendar .header .month {
  font-size: 18px;
  font-weight: 400;
  font-family: ".SFNSDisplay-Semibold", "Helvetica Neue";
  line-height: 40px;
}

.calendar .header .year {
  font-size: 18px;
  font-family: ".SFNSDisplay-Light", "Helvetica Neue";
  font-weight: 100;
  color: rgba(255,255,255,.5);
  padding-left: 4px;
}

.calendar .header .next,
.calendar .header .previous {
  padding: 8px;
  transition: background-color 125ms ease-in-out;
}

.calendar .header .previous:hover,
.calendar .header .next:hover {
  border-radius: 2px;
  background-color: rgba(0,0,0,.04);
}

.calendar .dots {
  text-align: center;
  height: 4px;
  width: 100%;
}


.calendar .dots .dot {
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background-color: rgba(0,0,0,.15);
  display: inline-block;
  margin-right: 2px;
  position: relative;
  min-width: 4px;
}

.calendar .dots .dot:last-child {
  margin-right: 0;
}

.event-list {
  position: relative;
  margin-top: 12px;
  padding-top: 4px;
  padding-bottom: 10px;
  background-color: #263238;
  color: #fff;
  flex: 1;
  overflow-y: overlay;
  -webkit-font-smoothing: initial;
  border-radius: 0 0 3px 3px;
}

.event-list::-webkit-scrollbar {
  width:15px;
  background: transparent;
  -webkit-appearance: none;
}

.event-list::-webkit-scrollbar * {
  background: transparent;
}

.event-list::-webkit-scrollbar-track {
  border-radius:5px;
  background: transparent;
}

.event-list::-webkit-scrollbar-thumb {
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 5px;
  background-color: rgba(255,255,255,0);
  min-height: 30px;
}

.event-list:hover::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,0.3);
}

.event-list::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255,255,255,0.4);
}

.event-list-header {
  margin-top: 12px;
  padding: 4px 17px;
  color: rgba(255,255,255,.5);
  font-family: ".SFNSDisplay-Regular", "Helvetica Neue";
  font-size: 12px;
}

.event {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  -webkit-transform: translate3d(0, 0, 0);
}

.event.current, .event.current .time {
  color: #FF8A65;
}

.event:hover {
  background-color: rgba(255,255,255,.05);
}

.event .name, .event .time {
  padding: 6px 17px;
}

.event .name {
  flex: 1;
  align-items: center;
  padding-right: 0;
}

.event .time > span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.event .location {
  color: rgba(255,255,255,.3);
  font-size: 12px;
  margin-top: 3px;
}

.event .location:empty {
  display: none;
}

.event.past .name {
  color: rgba(255,255,255,.3);
}
.event.past .time {
  color: rgba(255,255,255,.3);
}

.event .time {
  font-size: 11px;
  text-align: right;
  color: rgba(255,255,255,.5);
}

/* slide right animation */
.slide-right-enter, .slide-right-leave {
  position: absolute;
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
  transition-property: transform, opacity;
}

.slide-right-enter {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.slide-right-enter.slide-right-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.slide-right-leave {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.slide-right-leave.slide-right-leave-active {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

.slide-left-enter, .slide-left-leave {
  position: absolute;
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
  transition-property: transform, opacity;
}

/* slide left animation */
.slide-left-enter {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

.slide-left-enter.slide-left-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.slide-left-leave {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.slide-left-leave.slide-left-leave-active {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

/* slide up animation */
.slide-up-enter, .slide-up-leave {
  position: absolute;
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
  transition-property: transform, opacity;
}

.slide-up-enter {
  opacity: 0;
  transform: translate3d(0, 100%, 0);
}

.slide-up-enter.slide-up-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.slide-up-leave {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.slide-up-leave.slide-up-leave-active {
  opacity: 0;
  transform: translate3d(0, -100%, 0);
}
